<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta teacherName="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" href="../css/style.css">


</head>
<body>

<div th:include="/Courses/menu.html"></div>

<div class="main">
    <h2>Opret Fag</h2>

    <div class="col-md-4">
        <form th:action="@{/teacher/create}" method="post">
            <input type="hidden" th:field="${courseModel.courseID}">

            <div class="form-group">
                <label>Navn Dansk</label>
                <input type="text" class="form-control" th:field="${courseModel.courseNameDanish}">
            </div>

            <div class="form-group">
                <label>Navn Engelsk</label>
                <input type="text" class="form-control" th:field="${courseModel.courseNameEnglish}">
            </div>

            <div class="form-group">
                <label class="control-label">Semester :</label>
                <div class="col-sm-5">
                    <select class="form-control" th:field="${courseModel.courseSemester}">

                        <option value="1">1. Semester</option>
                        <option value="2">2. Semester</option>
                        <option value="3">3. Semester</option>
                        <option value="4">4. Semester</option>
                        <option value="5">5. Semester</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Klassekode</label>
                <input type="text" class="form-control" th:field="${courseModel.courseClassCode}">
            </div>

            <div class="form-group">
                <label>Studieretning</label>
                <input type="text" class="form-control" th:field="${courseModel.courseStudyProgramme}">
            </div>

            <div class="form-group">
                <label>ECTS</label>
                <input type="text" class="form-control" th:field="${courseModel.courseECTS}">
            </div>

            <div class="form-group">
                <label>Sprog</label>
                <input type="text" class="form-control" th:field="${courseModel.courseLanguage}">
            </div>

            <div class="form-group">
                <label>Minimum Elever</label>
                <input type="text" class="form-control" th:field="${courseModel.courseMinStudents}">
            </div>

            <div class="form-group">
                <label>Forventede Elever</label>
                <input type="text" class="form-control" th:field="${courseModel.courseExpectedStudents}">
            </div>

            <div class="form-group">
                <label>Max Elever</label>
                <input type="text" class="form-control" th:field="${courseModel.courseMaxStudents}">
            </div>

            <div class="form-group">
                <label>Forudsætninger</label>
                <textarea class="form-control" rows="5" th:field="${courseModel.coursePrerequisites}"></textarea>
            </div>

            <div class="form-group">
                <label>Læringsudbytte</label>
                <textarea class="form-control" rows="5" th:field="${courseModel.courseLearningOutcome}"></textarea>
            </div>

            <div class="form-group">
                <label>Indhold</label>
                <textarea class="form-control" rows="5" th:field="${courseModel.courseContent}"></textarea>
            </div>

            <div class="form-group">
                <label>Læringsaktiviteter</label>
                <textarea class="form-control" rows="5" th:field="${courseModel.courseLearningActivities}"></textarea>
            </div>

            <div class="form-group">
                <label>Eksamenstype</label>
                <textarea class="form-control" rows="5" th:field="${courseModel.courseExamForm}"></textarea>
            </div>

            <div class="form-group">
                <label class="control-label">Type</label>
                <div class="col-sm-5">
                    <select class="form-control" th:field="${courseModel.courseMandatory}">

                        <option value="1">Obligatorisk</option>
                        <option value="0">Valgfag</option>

                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Lærere :</label>
                <div>
                    <select multiple class="form-control" th:field="${courseModel.teachers}">
                        <option th:each="teacherModel : ${teachers}"
                                th:value="${teacherModel.teacherID}"
                                th:text="${teacherModel.teacherName}">

                        </option>
                    </select>
                </div>
            </div>

            <button type="submit" style="margin-bottom: 20px;" class="btn btn-success">Opret Fag</button>

            <br>

        </form>
    </div>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>