<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
<div th:include="/Courses/menu.html"></div>

<div class="main">
    <h1 th:text="${courseModel.courseNameDanish}"></h1>
    <h1>Er du sikker på at du vil slette dette fag?</h1>

    <br>
    <form th:action="@{/teacher/delete/} + ${courseModel.courseID}" method="post">
        <input type="hidden" th:field="${courseModel.courseID}">
        <button type="submit" class="btn btn-danger btn-lg glyphicon glyphicon-trash"> Ja</button>
    </form>

    <br>

    <a href="/home/course">
        <button type="button" class="glyphicon glyphicon-home btn btn-success btn-lg"> Nej</button>
    </a>

</div>



</body>
</html>